body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1;
  background-color:#dee2ff;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #fff;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #feeafa;
  border-radius: 0;
  border-bottom: 10px dotted #4a4e69;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #efd3d7;
  color: white;
}

.present {
  background-color: #8e9aaf;
  color: white;
}

.future {
  background-color: #cbc0d3;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f2e9e4;
  color: #22223b;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

